<div class="content">
  <div class="login-container">
    <div class="complement">

    </div>
    <!-- <div class="form">
        <div class="form-content">
          <img src="/assets/silp gris.png" alt="">
          <input type="text" [(ngModel)]='username' placeholder="Usuario">

          <input type="password" [(ngModel)]='password' placeholder="Contraseña">

          <mat-form-field>
            <mat-label>Enter your password</mat-label>

            <input matInput type="password" [(ngModel)]='password' placeholder="Contraseña">
          </mat-form-field>

          <button (click)="onLoginClick()">Iniciar sesion</button>
          <a routerLink="/dashboard/home">Olvide mi contraseña</a>
          <div *ngIf="hasError" class="alert">{{error}}</div>
        </div>

    </div> -->

    <div class="example-container">



      <p>
        <mat-form-field >
          <mat-label >Ingresa tu usuario</mat-label>
          <input [(ngModel)]='username' class="custom-form-field" matInput >
          <mat-icon matSuffix>account_circle</mat-icon>

        </mat-form-field>
      </p>

      <mat-form-field >
        <mat-label>Escribe tu contraseña</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'" [(ngModel)]='password'>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>

      </mat-form-field>

      <div class="example-button-row">
        <button (click)="onLoginClick()" mat-fab extended color="primary">
          <mat-icon>check_circle</mat-icon>
          Iniciar sesion
        </button>

      </div>


    </div>
  </div>
</div>
