/* .content{
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.938);
  display: flex ;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/litoplas aire.jpeg');
  background-size: cover;
  background-repeat: no-repeat;



} */

/* .content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/litoplas aire.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
} */
.content {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.671), rgba(0, 0, 0, 0.788)), url('/assets/litoplas aire.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}
.login-container {
  width: 1300px;
  min-width: 250px;
  /* background-color: rgba(255, 255, 255, 0.699); */
  background-image: linear-gradient(rgba(255, 255, 255, 0.671), rgba(255, 255, 255, 0.788)), url('/assets/planta.png');
  display: flex;
  justify-content: center;
  height: 700px;
  align-items: center;
  box-shadow: 0px 5px 15px rgb(0, 0, 0);
  border-radius: 50px;
}
.complement{
  width: 50%;
  /* background-color: red; */
  max-width:600px;
  height: 500px;
}
.form {
  /* background-color: blue; */
  width: 50%;
  max-width:600px;
  display: flex;
  flex-direction: column;
  align-items: end;
  height: 500px;
  margin-right: 50px;
}
.form-content{
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding:30px;
}

.form p {
  font-size: 2rem;
  color: #005792;
  font-weight: 500;
}

.form button {
  width: 100%;
  border:  1px solid #00bbf0;;
  background: #0092ca;
  padding: 6px 40px;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
}

.form input {
  /* #e3e3e3; */
  width: 100%;
  border: 3px solid #eaf6f6;
  padding: 10px;
  font-size: 15px;
  border-radius: 3px;
}

.form input::placeholder {
  color: grey
}

.alert {
  background-color: #ff847c;
  color: #fff;
  width: 100%;
  font-size: 12px;
  border-radius: 3px;
  border: 2px solid #e84a5f;
  text-align: center;
}
