<section class="wrapper">
  <h1 class="title">Administrador de usuarios</h1>

  <ng-container *ngIf="(asyncTabs | async) === null">
    Loading tabs...
  </ng-container>

  <mat-tab-group >
    <!-- <mat-tab-group [color]="'primary'" [backgroundColor]="'primary'"></mat-tab-group> -->
    <mat-tab label="Crear/Modificar" >

      <!-- <ng-template mat-tab-label>Tab 1</ng-template> -->
      <div class="userForm">
        <form [formGroup]="formUser" (ngSubmit)="proccessUser()">

          <p >
            <mat-form-field appearance="fill">
              <mat-label >Identificación</mat-label>
              <input  matInput
                      placeholder="1234..."
                      name="name"
                      formControlName="name">
              <mat-icon matSuffix>fingerprint</mat-icon>
              <!-- <mat-hint *ngIf="!getFormControl('name')?.valid && !getFormControl('name')?.pristine">Campo requerido</mat-hint> -->
            </mat-form-field>
          </p>
          <!-- <p >
            <mat-form-field appearance="outline">
              <mat-label >Identificacion</mat-label>
              <input matInput placeholder="12345...">
              <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-hint>Hint</mat-hint>
            </mat-form-field>
          </p> -->




        </form>
      </div>
    </mat-tab>

    <mat-tab label="Consultar">
      <div style="margin-top: 20px;">
      <mat-form-field>
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 12345" #input>
      </mat-form-field>

      <div class="mat-elevation-z8" style="overflow: auto; max-height: 500px;">
        <table mat-table [dataSource]="dataSource" matSort #sort>

          <!-- ID Column -->
          <ng-container matColumnDef="n_ide">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let row"> {{row.n_ide}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let row"> {{row.nombre}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="mail">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
            <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
          </ng-container>

          <!-- Fruit Column -->
          <ng-container matColumnDef="c_emp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
            <td mat-cell *matCellDef="let row"> {{row.c_emp}} </td>
          </ng-container>

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td style="cursor: pointer;" mat-cell *matCellDef="let row" >

              <mat-icon (click)="editarUsuario(row)">edit</mat-icon>
              <mat-icon (click)="resetearPassword(row)">lock_open</mat-icon>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
          </tr>
        </table>

        <mat-paginator #paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
      </div>
    </div>
    </mat-tab>
  </mat-tab-group>


  <!-- <div class="permissionsList">
    <table class="customTable" >

      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Telefono</th>
          <th>Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let us of usersData">
          <td>{{us.name}}</td>
          <td>{{us.email}}</td>
          <td>{{us.telefono}}</td>
          <td>{{us.password}}</td>
        </tr>
      </tbody>
    </table>
  </div> -->

<!-- <app-table-info></app-table-info> -->
<!-- <app-custom-table (onUpdate)="onUpdateTable($event)" (onDelete)="onDeleteTable($event)" [tableData]="tableData"></app-custom-table> -->
<!-- <app-custom-table  (onDelete)="onDeleteTable($event)" [tableData]="tableData"></app-custom-table> -->

<!-- <mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
</mat-form-field>
<div class="mat-elevation-z8">
<table mat-table [dataSource]="dataSource" matSort>



  <ng-container matColumnDef="n_ide">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Identificacion </th>
    <td mat-cell *matCellDef="let element"> {{element.n_ide}} </td>
  </ng-container>


  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
  </ng-container>


  <ng-container matColumnDef="mail">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo </th>
    <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
  </ng-container>


  <ng-container matColumnDef="c_emp">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Empresa </th>
    <td mat-cell *matCellDef="let element"> {{element.c_emp}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
  </tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div> -->









</section>
